@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
    color: #EFEFEF;
    text-align: center;
    position: relative;
    border-radius: 10px;
    
}
body{
    background-color: #0A1931;
    margin-left: 20%;
    margin-right: 20%;
}
.title{
    font-weight: 600;
    font-size: 60px;
}
.text{
    font-weight: 600;
    font-size: 30px;
    margin-top: 20px;
}

/* Testing all the cursor proprieties */

/*Selecting all the conteiner*/
.box{
    width: 200px;
    height: 200px;
    background-color: #185ADB;
    display: inline-block;
    margin: 5px;
}

/* ALIAS */
.alias{
    cursor: alias;
    
}
.alias:hover{
    background-color: #FFC947;
}

/* ALL-SCROLL */
.all-scroll{
    cursor: all-scroll;
}
.all-scroll:hover{
    background-color: #FFC947;
}

/* AUTO */
.auto{
    cursor: auto;   
}
.auto:hover{
    background-color: #FFC947;
}

/* CELL */
.cell{
    cursor: cell;   
}
.cell:hover{
    background-color: #FFC947;
}

/* COL-RESIZE */
.col-resize{
    cursor: col-resize;   
}
.col-resize:hover{
    background-color: #FFC947;
}

/* CONTEXT-MENU */
.context-menu{
    cursor: context-menu;   
}
.context-menu:hover{
    background-color: #FFC947;
}

/* COPY */
.copy{
    cursor: copy;   
}
.copy:hover{
    background-color: #FFC947;
}

/* CROSSHAIR */
.crosshair{
    cursor: crosshair;   
}
.crosshair:hover{
    background-color: #FFC947;
}

/* DEFAULT */
.default{
    cursor: default;   
}
.default:hover{
    background-color: #FFC947;
}

/* E-RESIZE */
.e-resize{
    cursor: e-resize;   
}
.e-resize:hover{
    background-color: #FFC947;
}

/* EW-RESIZE */
.ew-resize{
    cursor: ew-resize;   
}
.ew-resize:hover{
    background-color: #FFC947;
}

/* GRAB */
.grab{
    cursor: grab;   
}
.grab:hover{
    background-color: #FFC947;
}

/* GRABING */
.grabbing{
    cursor: grabbing;   
}
.grabbing:hover{
    background-color: #FFC947;
}

/* HELP */
.help{
    cursor: help;   
}
.help:hover{
    background-color: #FFC947;
}

/* MOVE */
.move{
    cursor: move;   
}
.move:hover{
    background-color: #FFC947;
}

/* N-RESIZE */
.n-resize{
    cursor: n-resize;   
}
.n-resize:hover{
    background-color: #FFC947;
}

/* NE-RESIZE */
.ne-resize{
    cursor: ne-resize;   
}
.ne-resize:hover{
    background-color: #FFC947;
}

/* NESW-RESIZE */
.nesw-resize{
    cursor: nesw-resize;   
}
.nesw-resize:hover{
    background-color: #FFC947;
}

/* NS-RESIZE */
.ns-resize{
    cursor: ns-resize;   
}
.ns-resize:hover{
    background-color: #FFC947;
}

/* NW-RESIZE */
.nw-resize{
    cursor: nw-resize;   
}
.nw-resize:hover{
    background-color: #FFC947;
}

/* NWSE-RESIZE */
.nwse-resize{
    cursor: nwse-resize;   
}
.nwse-resize:hover{
    background-color: #FFC947;
}

/* NO-DROP */
.no-drop{
    cursor: no-drop;   
}
.no-drop:hover{
    background-color: #FFC947;
}

/* NONE */
.none{
    cursor: none;   
}
.none:hover{
    background-color: #FFC947;
}

/* NOT-ALLOWED */
.not-allowed{
    cursor: not-allowed;   
}
.not-allowed:hover{
    background-color: #FFC947;
}

/* POINTER */
.pointer{
    cursor: pointer;   
}
.pointer:hover{
    background-color: #FFC947;
}

/* PROGRESS */
.progress{
    cursor: progress;   
}
.progress:hover{
    background-color: #FFC947;
}

/* ROW-RESIZE */
.row-resize{
    cursor: row-resize;   
}
.row-resize:hover{
    background-color: #FFC947;
}

/* S-RESIZE */
.s-resize{
    cursor: s-resize;   
}
.s-resize:hover{
    background-color: #FFC947;
}

/* SE-RESIZE */
.se-resize{
    cursor: se-resize;   
}
.se-resize:hover{
    background-color: #FFC947;
}

/* SW-RESIZE */
.sw-resize{
    cursor: sw-resize;   
}
.sw-resize:hover{
    background-color: #FFC947;
}

/* TEXT */
.text-cursor{
    cursor: text;   
}
.text-cursor:hover{
    background-color: #FFC947;
}

/* W-RESIZE */
.w-resize{
    cursor: w-resize;   
}
.w-resize:hover{
    background-color: #FFC947;
}

/* ZOOM-IN */
.zoom-in{
    cursor: zoom-in;   
}
.zoom-in:hover{
    background-color: #FFC947;
}

/* ZOOM-OUT */
.zoom-out{
    cursor: zoom-out;   
}
.zoom-out:hover{
    background-color: #FFC947;
}

/* INITIAL */
.initial{
    cursor: initial;   
}
.initial:hover{
    background-color: #FFC947;
}

/* INHERIT */
.inherit{
    cursor: inherit;   
}
.inherit:hover{
    background-color: #FFC947;
}

/* UNSET */
.unset{
    cursor: unset;   
}
.unset:hover{
    background-color: #FFC947;
}
